body {
    background-image: url(blacknumber.png);
    font: normal 15pt arial;       
}

header {   
    letter-spacing: 2px;
    width: 280px;
    border-radius: 20px;
    margin: auto;
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 30px;    
    width: 280px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(5, 5, 10);    
    vertical-align: middle;   
    margin-bottom: 20px;
    opacity: 80%;
}   

footer {
    width: 280px;    
    color: white;
    text-align: center;
    font-style: italic;
    margin: auto;
    letter-spacing: 1.5px;
}
     

 


